*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html{
	scroll-behavior: smooth;
}

#pic{
	display: flex;
}
#pic img{
	width: 550px;
	height: 350px;
	padding-right: 50px;
	padding-left: 20px;
	padding-bottom: 20px;
}
#intro{
	display: flex;
	flex-direction: column;
	text-align: justify;
	padding: 75px;
	padding-right: 200px;
	margin: 40px 0px;
	line-height: 1.5;
}
.btn{
	padding: 10px 35px;
	background-color: white;
	border: 1px solid black;
	border-radius: 15px;
	color: black;
	outline: none;
	transition: .6s ease;
    margin-top: 20px;
    margin-left: 80%;
    margin-bottom: 10px;
}

.logo img{
	margin-left: 100px;
	margin-top: 15px;
	margin-bottom: 0px;
	width: 150px;
	height: 27px;
}
#home {
	background: url(../images/bg-hero-desktop.svg);
}
.btn1{
	background-color: hotpink;
	border-radius: 15px;
	border: none;
	outline: none;
	transition: .6s ease;
	padding: 10px 35px;
}
#container-1{
	display: flex;
	border-radius: 15px;
	margin: 75px;
	padding: 10px;
	margin-top: 100px;
	line-height: 1.5;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}
#container-1 img{
	width: 550px;
	height: 350px;
	padding-right: 50px;
	padding-left: 20px;
	padding-bottom: 20px;
}
.box-1{
	display: flex;
	flex-direction: column;
	text-align: justify;
	padding: 75px;
	padding-right: 200px;
	margin: 40px 0px;
}
#container-2{
	display: flex;
	text-align: justify;
	padding: 10px;
	margin: 75px;
	border-radius: 20px;
	margin-top: 45px;
	line-height: 1.5;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}
#container-2 img{
	width: 550px;
	height: 350px;
	padding-right: 50px;
	padding-left: 20px;
	padding-bottom: 20px;
}
.box-2{
	display: flex;
	flex-direction: column;
	text-align: justify;
	padding: 75px;
	padding-right: 200px;
	margin: 40px 0px;
}
#container-3{
	display: flex;
	text-align: justify;
	padding: 10px;
	margin: 75px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
	border-radius: 20px;
	margin-top: 45px;
	line-height: 1.5;
}
#container-3 img{
	width: 550px;
	height: 350px;
	padding-right: 50px;
	padding-left: 20px;
	padding-bottom: 20px;
}
.box-3{
	display: flex;
	flex-direction: column;
	text-align: justify;
	padding: 75px;
	padding-right: 200px;
	margin: 40px 0px;
}

footer{
	background-color: hsl(192, 100%, 9%);
	color: #fff;
	padding: 180px 0 60px;
}
ul{
	list-style-type: none;

}
footer ul li{
	margin-bottom: 20px;
}
footer .circle{
	border: 1px solid #fff;
	border-radius: 50%;
	color: #fff;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	margin-right: 10px;
	height: 40px;
	width: 40px;
	text-decoration: none;
	position: relative;
}
footer p{
	text-align: right;
}

.attribution{
	font-size: 30px;
	text-align: center;
	height: 50px;
	color: hsl(193, 100%, 96%);
}
.attribution a{
	color: orange;
}